.cat-bar {
  display: flex;
  gap: 10px;
  margin-top: 0px;
}

.cat-btn {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #ddd;
  color: black;
}

.cat-btn:hover {
  background-color: black;
  color: white;
}

.cat-btn.active {
  background-color: black;
  color: #ddd;
}
