.cat-bar {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 5px;
  scrollbar-width: none;
}

@media (max-width: 768px) {
  .cat-bar {
    gap: 4px;
  }
}

.cat-btn {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #ddd;
  color: black;
}

.cat-bar::-webkit-scrollbar {
  display: none;
}

.cat-btn {
  flex: 0 0 auto;
}

.cat-btn:hover {
  background-color: black;
  color: white;
}

.cat-btn.active {
  background-color: black;
  color: #ddd;
}
